@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.header_wrap {
  width: 100vw;
  display: flex;
  position: fixed;
  font-family: "Pretendard", sans-serif;
  justify-content: space-between;
  height: 5vh;
  background-color: #000000;
  list-style-type: none;
  text-align: center;
  z-index: 999;
}

.header_wrap li {
  color:#ffffff;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 5vh;
  padding-left: 1vw;
}

.container {
  display: flex;
  height: 100vh;
  background: #ffffff;
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a, a:link, a:visited {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: #000000;
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: space-between;
  font-family: "Pretendard", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  margin: 0 0 0.5rem;
  text-align: left;
}

h2 {
  display: flex;
  justify-content: space-between;
  font-family: "Pretendard", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 0.5rem;
  text-align: center;
}

#tag{
  font-family: "Pretendard", sans-serif;
  font-size: 0.885rem;
}

.background {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 95%;
  height: 95vh;
  position: absolute;
}

.background img { 
  max-width: 100%; 
}

.figure { 
  width: 100%; 
  margin: 0 auto; 
  text-align: center; 
}

.figure img { 
  max-width: 100%;
}

figcaption {
  font-family: "Pretendard", sans-serif;
  font-size: 0.85em;
  line-height: 1.5em;
  text-align: left;
  margin: 0 0 0.5rem;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main h1 {
  position: absolute;
  bottom: 1.5rem;
}

.contents {
  max-width: 980px;
  margin: 5vh auto;
}

/* padding: 0 1rem; */

.contents p {
  font-size: 1rem;
  line-height: 1.5em;
  padding-bottom: 0;
}

.contents p span {
  font-family: "times";
  font-size: 1em;
}

.column {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;
}
.column:nth-child(1) {
  background-color: #000000;
}
.column:nth-child(2) {
  background-color: #ffffff;
}
.column:nth-child(3) {
  background-color: #c06c84;
  
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    display: block;
    height: 100vh;

  }
  .contents p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  #tag{
    font-size: 0.885rem;
  }
}

@media screen and (max-width: 768px) {
  figcaption {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .contents p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  #tag{
    font-size: 0.885rem;
}
}

@media screen and (max-width: 350px) {
  .contents p {
    font-size: 0.685rem;
  }
  h1 {
    font-size: 0.985rem;
  }
  h2 {
    font-size: 0.985rem;
  }
  #tag{
    font-size: 0.685rem;
  }
}